.container
  margin-top: 50px
  display: flex
  justify-content: center

  .tasks
    display: flex
    flex-wrap: wrap
    justify-content: center
    max-width: 1200px
    list-style-type: none

    .task
      width: 200px
      height: 100px
      background: rgba(255,255,255,0.9)
      border-radius: 4px
      margin: 10px
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
